In [2]:
import pandas as pd
s = pd.Series(['banana', 42])
print(s)

0    banana
1        42
dtype: object

In [4]:
s = pd.Series(['Wes McKinney', 'Creator of Pandas'])
print(s)

0         Wes McKinney
1    Creator of Pandas
dtype: object

In [5]:
s = pd.Series(['Wes McKinney', 'Creator of Pandas'], index=['Person', 'Who'])
print(s)

Person         Wes McKinney
Who       Creator of Pandas
dtype: object

In [8]:
scientists =  pd.DataFrame({
        'Name': ['Rosaline Franklin', 'Willian Gosset'],
        'Occupation': ['Chemist', 'Statisticain'],
        'Born': ['1920-07-25','1876-06-13'],
        'Died': ['1958-04-16','1937-10-16'],
        'Age': [37, 61]})
print(scientists)

                Name    Occupation        Born        Died  Age
0  Rosaline Franklin       Chemist  1920-07-25  1958-04-16   37
1     Willian Gosset  Statisticain  1876-06-13  1937-10-16   61

In [10]:
scientists =  pd.DataFrame(
        data = {'Occupation': ['Chemist', 'Statistician'],
                'Born': ['1920-07-25', '1876-06-13'],
                'Died': ['1958-04-16', '1937-10-16'], 
                'Age': [37, 61]},
        index = ['Rosaline Franklin', 'William Gosset'],
        columns = ['Occupation', 'Born', 'Age', 'Died'])
                
print(scientists)

                     Occupation        Born  Age        Died
Rosaline Franklin       Chemist  1920-07-25   37  1958-04-16
William Gosset     Statistician  1876-06-13   61  1937-10-16