In [1]:
import pandas as pd; import os

In [2]:
df = pd.read_csv('../doit_pandas/data/gapminder.tsv', sep = '\t')

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [5]:
country = df['country']; country

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [6]:
country = df.country; country

0       Afghanistan
1       Afghanistan
2       Afghanistan
3       Afghanistan
4       Afghanistan
           ...
1699       Zimbabwe
1700       Zimbabwe
1701       Zimbabwe
1702       Zimbabwe
1703       Zimbabwe
Name: country, Length: 1704, dtype: object

In [8]:
country_pop = df[{'country','pop'}]; country_pop

           pop      country
0      8425333  Afghanistan
1      9240934  Afghanistan
2     10267083  Afghanistan
3     11537966  Afghanistan
4     13079460  Afghanistan
...        ...          ...
1699   9216418     Zimbabwe
1700  10704340     Zimbabwe
1701  11404948     Zimbabwe
1702  11926563     Zimbabwe
1703  12311143     Zimbabwe

[1704 rows x 2 columns]

In [9]:
type(country_pop)

pandas.core.frame.DataFrame

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
country      1704 non-null object
continent    1704 non-null object
year         1704 non-null int64
lifeExp      1704 non-null float64
pop          1704 non-null int64
gdpPercap    1704 non-null float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [28]:
country = df.country; country
continent = df.continent; continent

0         Asia
1         Asia
2         Asia
3         Asia
4         Asia
         ...
1699    Africa
1700    Africa
1701    Africa
1702    Africa
1703    Africa
Name: continent, Length: 1704, dtype: object

In [29]:
gdpPercap = df.gdpPercap
gdpPercap

0       779.445314
1       820.853030
2       853.100710
3       836.197138
4       739.981106
           ...
1699    706.157306
1700    693.420786
1701    792.449960
1702    672.038623
1703    469.709298
Name: gdpPercap, Length: 1704, dtype: float64

In [38]:
gdpPercap.tail()

1699    706.157306
1700    693.420786
1701    792.449960
1702    672.038623
1703    469.709298
Name: gdpPercap, dtype: float64

In [58]:
column_list = []
column_list = ['country']
column_list = ['country','continent']
column_list = ['country','continent','year']
column_list = ['country','continent','year','lifeExp']
column_list = ['country','continent','year','lifeExp','pop']
column_list = ['country','continent','year','lifeExp','pop','gdpPercap']

In [50]:
type(df[column_list])

pandas.core.frame.DataFrame

In [59]:
df[column_list]

          country continent  year  lifeExp       pop   gdpPercap
0     Afghanistan      Asia  1952   28.801   8425333  779.445314
1     Afghanistan      Asia  1957   30.332   9240934  820.853030
2     Afghanistan      Asia  1962   31.997  10267083  853.100710
3     Afghanistan      Asia  1967   34.020  11537966  836.197138
4     Afghanistan      Asia  1972   36.088  13079460  739.981106
...           ...       ...   ...      ...       ...         ...
1699     Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700     Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701     Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702     Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703     Zimbabwe    Africa  2007   43.487  12311143  469.709298

[1704 rows x 6 columns]